<h3>Formulários</h3>
<form [formGroup]="myForm" (ngSubmit)="onSubmit()">
    <label for="">Nome:
      <input formControlName="name" />
    </label>
    <!--<div *ngIf="myForm.get('name').errors?.required">Este campo deve ser preenchido!</div>
    -->
    <label for="">Endereço:
      <input formControlName="address" />
    </label>
    <input [disabled]="myForm.status!='VALID'" type="submit" value="Salvar" />
</form>


<p>Informando se o formulário é válido ou nao: {{myForm.status | json}}</p>
<p>Informa os valores preenchidos no formulário: {{myForm.value | json}}</p>